HOST= localhost
PORT=5000 

// Cloudflared tunnel tokens 
POPATI_TOKEN=eyJhIjoiN2E2NjgwOGY0ZGFiYmNhMDk2YTY1Zjg2NDFlMWMyYzIiLCJ0IjoiNzJjMDZjOTItNTRiZS00MGZiLTg0MGMtMzI3NmFhOTBmMDA3IiwicyI6Ik9HTXhOVEkwWVRFdE0yRmlPQzAwWkRBMUxXRm1OV010WVRNellqazVNR0UzTVRCaiJ9
POLISYNC_TOKEN=kjk